@import 'variables';

$type-colors: (
  bug: $color-bug,
  dragon: $color-dragon,
  fairy: $color-fairy,
  fire: $color-fire,
  ghost: $color-ghost,
  ground: $color-ground,
  normal: $color-normal,
  psychik: $color-psychik,
  steel: $color-steel,
  dark: $color-dark,
  electric: $color-electric,
  fighting: $color-fighting,
  flying: $color-flying,
  grass: $color-grass,
  ice: $color-ice,
  poison: $color-poison,
  rock: $color-rock,
  water: $color-water,
);

@each $type, $color in $type-colors {
  .#{$type} {
    background: $color;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  > main {
    flex: 1;
  }
}
